*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/web/node_modules
/web/dist
/web/.vite
/web/.env
/web/.env.*
/captures
.externalNativeBuild
.cxx
local.properties
crash*.log
logcat*.txt
*.jks
*.keystore
upload*.keystore
upload*.jks